.BottomBar{
    padding: 1.6rem;
    
    border-radius: 0 0 0.5rem 0.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color:  white;
    color: var(--dark-grayish-blue);
}

.BottomBar.darkMode{
    background-color: var(--very-dark-desaturated-blue);
    color: var(--dark-grayish-blue2);
}

.showItems{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-weight: 700;
}

.clearCompleted{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--dark-grayish-blue);
}

.clearCompleted.darkMode{
    color: var(--dark-grayish-blue2);
}