.BottomBar{
    padding: 1.6rem;
    background-color: var(--very-dark-desaturated-blue);

    font-size: 1.5rem;
    font-weight: 400;
    color: var(--dark-grayish-blue);
    

    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
}

.showItems{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}