.BottomBar{
    padding: 1.6rem;
    background-color: var(--very-dark-desaturated-blue);
    border-radius: 0 0 0.5rem 0.5rem;

    font-size: 1.5rem;
    font-weight: 400;
    color: var(--dark-grayish-blue);
    

    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
}

.showItems{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.clearCompleted{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--dark-grayish-blue);
}