

.clearCompleted{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--dark-grayish-blue);
}

.clearCompleted.darkMode{
    color: var(--dark-grayish-blue2);
}


    
