

.clearCompleted{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--dark-grayish-blue);
}

.clearCompleted.darkMode{
    color: var(--dark-grayish-blue2);
}


/* mobile */
/* checar */
@media only screen and (max-width: 560px){

    .itemsLeft + .showItems{
        display: none;
    }

    .BottomBar:first-of-type{
        margin-bottom: 2rem;
    }

    .BottomBar:nth-of-type(2){
        justify-content: space-around;
    }
}
    
