.input{
    display: block;
    padding: 2rem 0 2rem 4rem;
    
    width: 50rem;
    
    border: none;
    font-weight: 700;
    
    background-color: white;
    border-bottom: solid 1px var(--very-light-grayish-blue);
    color: var(--very-dark-grayish-blue);
}

.input.checked{
    text-decoration: line-through;
    color: var(--very-light-grayish-blue);
    
}

.input.checked.darkMode{
    color: var(--very-dark-grayish-blue)
}

.input:focus{
    outline: none;
}
.input.darkMode{
    background-color: var(--very-dark-desaturated-blue);
    border-bottom: solid 1px var(--very-dark-grayish-blue-2);
    color: var(--light-grayish-blue2);
}

.input::placeholder{
     color: var(--dark-grayish-blue); 
}

.input.darkMode::placeholder{
    color: var(--dark-grayish-blue2);
}

.checkbox{
    position:absolute;
    left: 1rem;
    top: 2rem;
    cursor: pointer;

    
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    vertical-align: middle;
    appearance: none;
    outline: none;
    background-color: transparent;   
    border: 1px solid var(--very-light-grayish-blue);  

    
}

.checkbox.darkMode{
    border: 1px solid var(--very-dark-grayish-blue-2);
}



.checkbox:checked{
   
    background :no-repeat url('../../images/icon-check.svg') center,
    linear-gradient(to bottom,  hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    
    
    
}


.close{
    cursor: pointer;

    background-color: transparent;
    position: absolute;
    right: 3rem;
    top: 2rem;
    width: 18px;
    height: 18px;

    background-image: url('../../images/icon-cross.svg');
    border: none;

    opacity: 0;
    

   
}

.input:focus + .close, .input:hover + .close,
.close:hover, .close:focus{
    animation: close 1.5s ease-in-out forwards;
}

@keyframes close{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
