@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Primary */
  --bright-blue: hsl(220, 98%, 61%);
  /* Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%) */

  /* Light Theme */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* Dark Theme */

  --very-dark-blue: hsl(235, 21%, 11%); 
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue2: hsl(234, 39%, 85%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue-2: hsl(237, 14%, 26%);

  /* hover effect */
  --light-grayish-blue: hsl(236, 33%, 92%)

}

html{
  font-size: 62.5%;
}

body{
  font-size: 1.8rem;
  font-family: 'Josefin Sans', sans-serif;

}

.App{
  height: 100vh;
  
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "top"
                        "bottom";
}

.top{
  width: 100vw;
  grid-area: top;
  background: url('./images/bg-desktop-dark.jpg') no-repeat;
  background-size:cover;

 display: grid;
 align-items: center;
 justify-content: center;

 
}

.top-header{
  display: flex;
  flex-direction: row;
  gap: 30rem;
  padding: 10rem;
  margin-bottom: 5rem;
}

.top-header .title{
  color: white;
  letter-spacing: 1.5rem;
}

.top-header .dark-mode{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.top-header .dark-mode::after{
    background: url('./images/icon-sun.svg') no-repeat;
    content: "";
    display: inline-block;
    width: 26px;
    height: 26px;
}

.bottom{
  grid-area: bottom;
  background-color: var(--very-dark-blue);
  
  display: grid;
  justify-content: center;
}

.bottom-list{
  position: relative;
  top: -13rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* border on the 1st input (input to add items to todo list)*/
.bottom-list-create input{
  border-radius: 0.5rem;
  border: none;
}

/* Border on the 1st todo item*/
.bottom-list-created input:nth-of-type(1){
  border-radius: 0.5rem 0.5rem 0 0;
 
}  

.bottom-description{
  font-size: 1.6rem;
  justify-self: center;
}

